@import "../../styles/variables";

.nav-bar-container{
  padding: 0 !important;
  width: 100%;
  height: auto;
  min-height: 4em;
  z-index: 1000;
  background-color: #FFF;
  position: fixed;
  &::after{
    content: "";
    position: absolute;
    top: calc(4em - 1);
    left: 0;
    height: 1px;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(40,75,124,.08);
  }
}

.MuiAvatar-root{
  cursor: pointer;
}

.nav-bar-main{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 2rem);
  height: 4em;
}

.nav-bar-brand {
  display: block;
  background-size: auto;
  height: 4em;
  width: 6em;
}


@include respond-above(lg){
  .nav-bar-main{
    width: calc(100% - 5rem);
    max-width: 80rem;
  }
}